EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEBUG=True
SECRET_KEY=your-secret-key
POSTGRES_DB=your_database_name
POSTGRES_USER=your_database_user
POSTGRES_PASSWORD=your_database_password
ALLOWED_HOSTS=localhost,127.0.0.1
